
  *{  
    margin:0;
    padding:0;
  }
  
  body{
    
    background-color: #C2FFF9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    /*background-image: url("images/fondo2.png");*/
 
  }
  
  header{
    display: flex;
    justify-content:space-between;
    background-color: rgba(71, 196, 109, 0.815);
    color: white;
    height: 70px;
    box-shadow: 0 8px 15px 0 rgba(102, 107, 109, 0.171);
  }
  
  .header a{
  
    color: white;
    margin-top: 15px;
    font-family: 'Segoe UI';
    text-decoration: double;
    font-weight: bold;
  }
  
  .Logo{
    font-size: 25px;
    align-items: center;
    margin-left: 10px;
  }
  
  .enlace-c{
    padding: 10px;
    color: white;
    text-align: right;
  
  }
  
  .enlace-c:hover{
    background-color: rgba(7, 122, 88, 0.89);
  }
  nav{
    font-size: 18px;
    padding: 35px;
    margin-right: 80px;
  }


  input {
    padding-left: 15px;
    background-color: #fff;
}

.contact {
    padding-top: 30px;
    margin: 40px auto;
    width: 600px;
    height: 500px;
    border-radius: 7px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(99, 101, 119, 0.35);
}

.datos1 {
    width: 85%;
    height: 50px;
    background-color: rgba(204, 255, 235, 0.726);
    border: none;
    border-radius: 7px;
    margin-top: 10px;
}

.datos2 {
    width: 85%;
    height: 70px;
    background-color: rgba(204, 255, 235, 0.726);
    border: none;
    border-radius: 7px;
    margin-top: 10px;
}

.espa {
    margin-top: 14px;
    font-size: 1.3em;

}

.container-form {
    padding: 10px;
    margin-left: 15px;
    text-decoration: solid;
}

.ClasesD {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
}

.boton {
    align-items: center;
    background:rgba(7, 122, 122, 0.89);
    border: none;
    border-radius: 5px;
    color: white;
    width: 200px;
    margin: 20px 0px;
    padding: 5px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    transition: .5s ease all;
}

.boton:hover {
  background:rgba(4, 71, 71, 0.89);
}
 