*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
  background: #D4D4D4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
  display: flex;
  justify-content:space-between;
  background-color: rgba(55, 153, 115, 0.815);
  color: white;
  height: 70px;
  box-shadow: 0 8px 15px 0 rgba(102, 107, 109, 0.171);
}

.header a{

  color: white;
  margin-top: 15px;
  text-decoration: double;
  font-weight: bold;
}

.Logo{
  font-size: 25px;
  align-items: center;
  margin-left: 10px;
}

.enlace-c{
  padding: 10px;
  color: white;
  text-align: right;

}

.enlace-c:hover{
  background-color: rgba(7, 122, 88, 0.89);
}

nav{
  font-size: 18px;
  padding: 35px;
}


.Container{
    border-radius: 8px;
    padding: 14px;
    width: 800px;
    margin: 20px auto;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0px rgba(87, 87, 87, 0.527);
}


.boton{
  background:rgba(7, 122, 87, 0.89);
    border: none;
    border-radius: 5px;
    box-shadow: 0 8px 10px 0px rgba(87, 87, 87, 0.527);
    color: white;
    clip-path: polygon(0% 0%, 75% 0%, 89% 49%, 75% 100%, 0 100%);
    display: inline-flex;
    margin: 10px;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    transition: .5s ease all;
    width: 150px;

}
.boton:hover{
  background:rgba(6, 95, 73, 0.89);
}

.Div_P{
  width: 97%;
  background-color: springgreen;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.Nboton{
  width: 97%;
  background-color: springgreen;
  border-radius: 5px;
  margin:0px;
  padding:0px;
  margin-bottom: 10px;
}

.botone{
  align-items: center;
  background:rgba(7, 122, 122, 0.89);
  border: none;
  width: 100px;
  margin-right: 5px;
  padding: none;
  height: 40px;
  text-align: left;
  transition: .5s ease all;
}

.botone:hover{
  background-color:rgba(31, 128, 60, 0.781);;
  }
  

.pregunta{
  padding: 0px;
  margin: 0px;
  width: 80;
  text-align: center;
  height: 110px;
  background-color: rgba(147, 255, 179, 0.781);
}

.text{
  border-radius: 2px;
    text-align: left;
    margin-right: 60px;
    margin-top: 10px;
    font-size: 18px;
    width: 90%;
}

.respuesta{
  border-radius: 2px;
  border-color: rgba(46, 170, 84, 0.671);
  background-color: rgba(162, 223, 180, 0.671);
  font-size: 18px;
  width: 90%;
  height: 50px;
  margin-top: 7px;
  margin-right: 50px;
}

.enviar{
  margin: 20px auto;
  text-align: center;

}

.envi{
  align-items: center;
  background-color:#ffff;
  border: none;
  border-radius: 5px;
  color: white;
  display: inline-flex;
  margin: 10px;
  font-size: 18px;
  padding: 10px;
  text-align: center;
  transition: .5s ease all;
  width: 150px;
}

.envi:hover{
  background-color:#48D1CC;
}

.envi2{
  margin-left: 18px;
}

.titulo{
  padding: 10px;
  width: 90%;
  height: 45px;
  margin-left: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgba(167, 216, 208, 0.911);
}