*{  
    margin:0;
    padding:0;
  }
  
  body{
    
    background-color: #C2FFF9;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    /*background-image: url("images/fondo2.png");*/
 
  }

  h2{
    color:#333;
    font-size: 25px;
    margin-bottom: 7px;
}

  p{
    margin-top: 10px;
}

  
  #bg{
    margin: 0px auto;
    margin-top: 100px;
    padding: 5px;
    width: 400px;
    height: 320px;
    position:relative;
    text-align: center;
    border-radius: 7px;
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.35);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .form{
    float:left;
    height:86%;
    width:100%;
    box-sizing:border-box;
    padding:20px;
  }
  .orient{
    text-align: left;
  }
  .textbox{
    background-color: rgba(204, 255, 235, 0.726);
    border: none;
    border-radius:3px;
    box-sizing:border-box;
    padding:10px;
    margin-top: 4px;
    margin-bottom:15px;
    width: 290px;
    height: 45px;
  }
  
  .textbox:focus{
    outline:none;
     border:rgba(24,149,215,1) 2px solid;
  }
  
  .button{
    height:40px;
    width:50%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    margin: 4px auto;
    background:rgba(7, 122, 122, 0.89);
    color:#FFF;
    font-weight:bold;
    font-size: 12pt;
    transition:background .4s;
    cursor:pointer;
  }
  
  .button:hover{
    background:rgba(4, 71, 71, 0.89);
    
  }

  .hiper{
      text-align: right;
  }

  .hiper a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.header{
    display: flex;
    justify-content:space-between;
    background-color: rgba(71, 196, 109, 0.815);
    color: white;
    height: 70px;
    box-shadow: 0 8px 15px 0 rgba(102, 107, 109, 0.171);
  }
  
  .header a{
  
    color: white;
    margin-top: 15px;
    font-family: 'Segoe UI';
    text-decoration: double;
    font-weight: bold;
  }
  
  .Logo{
    font-size: 25px;
    align-items: center;
    margin-left: 10px;
  }
  
  .enlace-c{
    padding: 10px;
    color: white;
    text-align: right;
  
  }
  
  .enlace-c:hover{
    background-color: rgba(7, 122, 88, 0.89);
  }
  nav{
    font-size: 18px;
    padding: 35px;
    margin-right: 80px;
  }